@font-face {
    font-family: 'Tinkoff Sans';
    src: url("../../fonts/TinkoffSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tinkoff Sans';
    src: url("../../fonts/TinkoffSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tinkoff Sans';
    src: url("../../fonts/TinkoffSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Unica W1G';
    src: url("../../fonts/NeueHaasUnicaW1G-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
