body {
    @include fluid-text(15, 13);
    
    font-family: var(--font-family-alter), sans-serif;
    font-weight: 400;
    color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    font-family: var(--font-family-base), sans-serif;
}

h1, h2 {
    font-weight: 700;
    @include fluid-text(44, 35)
}

h3 {
    font-weight: 500;
    @include fluid-text(24, 20);
}